.header {
  width: 100%;
  height: 55px;
  background-color: #003459;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 12px;
}

.user-dropdown {
  margin-top: 12px;
  margin-right: 70px;
}
