
img {
  width: 45px;
  height: 45px;
}

.list-viewport {
  border: 2px solid black;
  border-radius: 10px;
  width: 100vw;
  height: 650px;
  margin: 10px 10px 10px 10px;
}

.button-add-item {
  margin-top: 10px;
  margin-left: 20px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 500px;
  margin-top: 30px;
  margin-left: 15px;
}

.edit-button {
  width: 25px;
  margin-right: 5px;
}

.delete-button {
  width: 25px;
}
