<div class="card">
  <div class="card-header">
      Item list
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter items by: </div>
      <div class="col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary">
                Add Item
              </button>
            </th>
            <img src="\assets\images\Martin.jpg" width="50" height="50">
            <th>Product Id</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Date Purchased</th>
            <th>Condition</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>
