<mat-card class="place-card">
  <mat-card-actions align="end">
    <button mat-button class="button1">EDIT</button>
    <button mat-button class="button2">DELETE</button>
  </mat-card-actions>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  <mat-card-content>
    <h1>{{locationName}}</h1>
    <h2>{{address}}</h2>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button class="button3">SHOW LIST</button>
  </mat-card-actions>
</mat-card>
