button {
  border-radius: 5px;
}

.place-card {
  max-width: 300px;
  background-color: #eaeaea;
  margin: 5px 10px 5px 5px;
}

.button2 {
  background-color: #FF6F61;
}

.button3 {
  background-color: #24a0ed;
}
