.button-add-location {
  margin-top: 10px;
  margin-left: 20px;
}
.place-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.location-viewport {
  background-color: rgba(229,229,229, 0.2);
  border: 2px solid rgba(229,229,229, 0.8);
  border-radius: 10px;
  width: 1250px;
  height: 650px;
  margin: 10px 10px 10px 10px;
}
