<div class="body">
    <form style="text-align:center">
      <br/>
      <article style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        Login to your account </article>
      <br/>
      <div class="form-group">
        <input style="text-align:center" type="email" class="form-control" id="Email" placeholder="Email">
      </div>
      <br/>
      <div class="form-group">
        <input style="text-align:center" type="password" class="form-control" id="Password" placeholder="Password">
      </div>
      <br/>
      <button [routerLink]="['/inventory-page']" class="btn btn-primary" *ngIf="!isAuthenticated" (click)="login()">Log in</button>
    </form>
  </div>
