<div class="body">
    <form>
      <br/>
      <article style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"  >
        Create an account</article>
      <br/>
      <div class="form-group">
        <input  style="text-align:center" type="email" class="form-control" id="Firstname" placeholder="First name">
      </div>
      <br/>
      <div class="form-group">
        <input  style="text-align:center" type="email" class="form-control" id="Lastname" placeholder="Enter last name">
      </div>
      <br/>
      <div class="form-group">
        <input style="text-align:center" type="email" class="form-control" id="Email" placeholder="Enter email">
      </div>
      <br/>
      <div class="form-group">
        <input style="text-align:center" type="password" class="form-control" id="Password" placeholder="Password">
      </div>
      <br/>
      <button style="text-align:center" type="submit" class="btn btn-primary">Create an account</button>
    </form>
</div>
