<head>
    <body>
        <h1>
            This is our <%=title%>
        </h1>
        <p>Project members</p>
        <ul>
            <% data.map((i)=> {
                %><li><%=i%></li><%
            })

            %>
        </ul>
    </body>
</head>