<div class="location-form">
  <h1>Create a new list</h1>

  <form class="location">
    <table class="location-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="location-full-width">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="location-full-width">
        <mat-label>Last name</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>


    <mat-form-field class="location-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" class="add-button" type="submit">Add</button>
    <button [routerLink]="['/inventory-page/dashboard']" mat-raised-button color="warn" class="cancel-button">Cancel</button>
  </form>
</div>
