
<header id="home-header" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
  <a [routerLink]="['/home']">
    <img src=".\assets\images\logo.png" alt="Logo" class="logo"/>
  </a>

  <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a [routerLink]="['/home/home-cover']" routerLinkActive="active" class="nav-link px-2 text-white">Home</a></li>
    <li><a [routerLink]="['/home/home-overview']" routerLinkActive="active" class="nav-link px-2 text-white">Overview</a></li>
    <li><a [routerLink]="['/home/about']" routerLinkActive="active" class="nav-link px-2 text-white">About</a></li>
    <li><a [routerLink]="['/home/questions']" routerLinkActive="active" class="nav-link px-2 text-white">FAQs</a></li>
    <li><a [routerLink]="['/home/reviews']" routerLinkActive="active" class="nav-link px-2 text-white">Reviews</a></li>
  </ul>

  <div class="col-md-3 text-end login-container">
    <button [routerLink]="['/home/login']" type="button" class="btn btn-outline-primary me-2">Login</button>
    <button [routerLink]="['/home/createaccount']" type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>

<router-outlet></router-outlet>



