<div id="sidebar-content" class="d-flex flex-column flex-shrink-0 p-3" >
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link text-white">
<!--        <svg class="bi me-2" width="16" height="16"><use xlink:href=""></use></svg>-->
        Home
      </a>
    <li>
    <li class="nav-item">
      <a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link text-white">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/list']" routerLinkActive="active" class="nav-link text-white">
        Your Lists
      </a>
    </li>
  </ul>
</div>


