/*@import "~bootstrap/dist/css/bootstrap.min.css";*/
/*@import "~font-awesome/css/font-awesome.min.css";*/
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #003456;
  color: #ffffff;
}
